/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    &:hover {
      background-color: transparent;
    }
  }
  &::-webkit-clear-button {
    -webkit-appearance: none;
  }
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
    text-transform: uppercase;
  }
}

input {
  display: block;
}

label {
  text-transform: uppercase;
}

input {
  border: none;
  background-color: transparent;
  color: $main-font-color;
  font-size: $font-size-default;
  padding: $app-unit / 2;
  border: 1px solid $main-font-color;
}

.input-row {
  padding: $app-unit 0;
  .input-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
      display: flex;
      margin-right: $app-unit;
      width: 15%;
      i.fas {
        margin-left: $app-unit / 2;
      }
    }
    input {
      flex-grow: 1;
      position: relative;
      z-index: 1;
    }
  }
  .error-container {
    color: $red;
    margin-top: $app-unit / 4;
    padding-left: 18%;
  }
  &--has-error {
    .input-container {
      label {
        color: $red;
      }
      input {
        border: 1px solid $red;
        color: $red;
        &.shake {
          -webkit-animation: shake-horizontal 0.8s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: shake-horizontal 0.8s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
      }
    }
  }
  @media screen and (max-width: 580px) {
    .input-container {
      display: block;
      input {
        width: 100%;
      }
      label {
        margin-bottom: $app-unit / 2;
      }
    }
    .error-container {
      padding-left: 0;
    }
  }
}

.start-form {
  @include medium-width-element;
  .form-help {
    font-size: $font-size-sm;
    margin-bottom: $app-unit;
    ol {
      margin-left: $app-unit;
      li {
        transition: color 0.2s ease;
        -webkit-transition: color 0.2s ease;
        &.set {
          color: $green;
        }
        &.error {
          color: $red;
        }
      }
    }
  }
  .form-success {
    text-align: center;
    .fas {
      font-size: 4em;
      margin: $app-unit 0;
      -webkit-animation: bounce-top 0.9s both;
      animation: bounce-top 0.9s both;
    }
  }
}

.start-form-container {
  &.exit {
    -webkit-animation: slide-out-bck-center 0.2s
      cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-bck-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
