@mixin card-style($color) {
  .program-day-card-bottom {
    background-color: $color;
  }
  .program-day-card-content {
    background-color: darken($color, 5%);
  }
}

.program-days-container {
  display: flex;
  flex-wrap: wrap;
  .program-day-card {
    width: calc(25% - #{$app-unit});
    margin: $app-unit / 2;
    overflow: hidden;
    border-radius: 5px;
    @media screen and (max-width: 960px) {
      width: calc(50% - #{$app-unit});
    }
    @media screen and (max-width: 470px) {
      width: 100%;
    }
    @include card-style($app-nav-bg);
    &.done {
      @include card-style($green);
    }
    &.current {
      @include card-style($orange);
    }
    &.missed {
      @include card-style($red);
    }
    .program-day-card-content {
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .program-day-card-bottom {
      display: flex;
      flex-direction: row;
      padding: $app-unit / 2;
      font-size: $font-size-sm;
      div {
        text-align: center;
        width: 50%;
      }
      .program-day-card-button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: $font-size-md;
        color: $main-font-color;
        cursor: pointer;
      }
    }
  }
}
