@mixin card-style($color) {
  .program-day-card-side {
    .program-day-card-daily-graph {
      background-color: darken($color, 3%);
      .daily-graph-container {
        background-color: darken($color, 12%);
        .daily-graph-bar {
          background-color: darken($color, 20%);
        }
      }
    }
    .program-day-card-side-reps {
      background-color: darken($color, 6%);
    }
    .program-day-card-side-button {
      background-color: darken($color, 9%);
    }
  }
  .program-day-card-content {
    background-color: $color;
  }
}

.program-days-container {
  display: flex;
  flex-wrap: wrap;
  .program-day-card {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: $app-unit;
    @media screen and (max-width: 960px) {
      display: block;
    }
    @include card-style($app-nav-bg);
    &.done {
      @include card-style($green);
    }
    &.current {
      @include card-style($orange);
    }
    &.missed {
      @include card-style($red);
    }
    .program-day-card-content {
      width: 50%;
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: $app-unit;
      @media screen and (max-width: 960px) {
        width: 100%;
      }
      .program-day-card-date {
        font-weight: 400;
        font-size: $font-size-sm;
      }
    }
    .program-day-card-side {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 960px) {
        width: 100%;
      }
      div {
        text-align: center;
        flex-grow: 1;
      }
      .program-day-card-daily-graph,
      .program-day-card-side-reps,
      .program-day-card-side-button {
        padding: $app-unit;
        width: 33.333%;
        @media screen and (max-width: 960px) {
          padding: $app-unit / 2;
        }
      }
      .program-day-card-daily-graph {
        display: flex;
        align-items: center;
        justify-content: center;
        .daily-graph-container {
          position: relative;
          width: 100%;
          height: 50px;
          border-radius: 5px;
          overflow: hidden;
          @media screen and (max-width: 960px) {
            height: 30px;
          }
          .daily-graph-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 10%;
          }
        }
      }
      .program-day-card-button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: $main-font-color;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
