.margin-top {
  margin-top: $app-unit;
  &--double {
    margin-top: $app-unit * 2;
  }
}

.margin-bottom {
  margin-bottom: $app-unit;
  &--double {
    margin-bottom: $app-unit * 2;
  }
}

.padding-top {
  padding-top: $app-unit;
  &--double {
    padding-top: $app-unit * 2;
  }
}

.padding-bottom {
  padding-bottom: $app-unit;
  &--double {
    padding-bottom: $app-unit * 2;
  }
}

.padding {
  padding: $app-unit;
  &--double {
    padding: $app-unit * 2;
  }
}
