// Colors
$purple-dark: #443073;
$purple-light: #5e42a6;
$white: #d1d1d1;
$black: #363636;
$red: #a3376c;
$green: #50a667;
$orange: #ad5b37;

// Typo
$base-font-size: 18px;
$font-size-sm: 0.8em;
$font-size-default: 1em;
$font-size-md: 1.5em;
$font-size-lg: 2em;
$base-font-family: "Montserrat";

// App
$app-unit: 20px;
$app-bg: $purple-light;
$app-nav-bg: $purple-dark;
$main-font-color: $white;
$nav-font-color: $white;
